.current-city{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /*font-family: 新宋体;*/
    font-weight: 700;
    background-color: #f1f1f1;
}

